---
const { class: className = "" } = Astro.props;
---

<a
  class={`rounded-full border border-hub-border dark:border-hub-border-dark flex items-center justify-center hover:drop-shadow-md hover:bg-hub-background-nav hover:dark:bg-hub-surface-hover-dark dark:text-hub-inactive-dark dark:hover:text-hub-title-dark transition-colors text-hub-inactive hover:text-hub-title size-9 ${className}`}
  {...Astro.props}
  rel="noopener noreferrer"
>
  <slot />
</a>
