---
import EmptyStateVisual from "./EmptyStateVisual.astro";

const {
  message = "Oops, no data to display.",
  subtitle = "But don't worry, there's always something interesting waiting for you!",
} = Astro.props;
---

<div
  class="rounded-lg flex flex-col items-center justify-center gap-4 border-[1px]
   border-hub-border
   dark:border-hub-border-dark
   dark:bg-hub-surface-dark
   hover:drop-shadow-md
   hover:bg-hub-background-nav
   hover:dark:bg-hub-surface-hover-dark
   transition-colors py-6 px-4 text-center"
>
  <EmptyStateVisual />

  <p class="text-sm text-hub-title dark:text-hub-title-dark font-medium">
    {message}
  </p>

  <p class="text-xs text-hub-subtitle dark:text-hub-subtitle-dark">
    {subtitle}
  </p>
</div>
