---
import IconHome from "../../icons/IconHome.astro";
import IconMoon from "../../icons/IconMoon.astro";
import IconSun from "../../icons/IconSun.astro";
import HeroButton from "../HeroButton.astro";
import { homeContent, siteConfig } from "@/config/content";
---

<div>
  <div class="flex justify-between">
    <img
      class="rounded-full size-24 border border-hub-border dark:border-hub-border-dark dark:bg-hub-surface-dark hover:dark:bg-hub-surface-hover-dark object-cover transition-colors"
      src={siteConfig.profileImage}
      alt={siteConfig.name}
    />
    <div class="flex gap-2 flex-wrap">
      <a
        href="/"
        aria-label="Go to home"
        class="size-8 text-hub-inactive hover:text-hub-title rounded-full border-[1px] flex items-center justify-center border-hub-border dark:border-hub-border-dark hover:drop-shadow-md hover:bg-hub-background-nav hover:dark:bg-hub-surface-hover-dark dark:text-hub-inactive-dark dark:hover:text-hub-title-dark transition-colors"
      >
        <IconHome class="size-5" />
      </a>
      <HeroButton aria-label="btn-theme" id="toggle-theme" class="size-8">
        <IconSun class="size-5 dark:hidden" />
        <IconMoon class="size-5 hidden dark:inline" />
      </HeroButton>
    </div>
  </div>
  <div class="mt-4">
    <h1 class="font-medium text-2xl text-hub-title dark:text-hub-title-dark">
      {homeContent.title}
    </h1>
    <p class="text-base text-hub-subtitle dark:text-hub-subtitle-dark">
      {homeContent.subtitle}
    </p>
  </div>
</div>
