---
import ArrowUpRight from "../../icons/ArrowUpRight.astro";
import GitHub from "../../icons/GitHub.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import SocialPill from "../../icons/SocialPill.astro";
import { siteConfig } from "@/config/content";
import Tooltip from "../Tooltip.astro";
---

<aside>
  <div class="flex gap-2 flex-wrap">
    <SocialPill
      class="!text-white hover:!text-white px-4 gap-1 font-medium text-sm bg-sky-600 hover:bg-sky-500 w-auto h-9 group transition-colors"
      href="/about/"
      target="_self"
    >
      About
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    <Tooltip tooltip="GitHub">
      <SocialPill href={siteConfig.social.github} class="" target="_blank">
        <GitHub class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="LinkedIn">
      <SocialPill href={siteConfig.social.linkedin} class="" target="_blank">
        <LinkedIn class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="Email">
      <SocialPill href={siteConfig.social.email} class="" target="_self">
        <svg
          class="size-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          ></path>
        </svg>
      </SocialPill>
    </Tooltip>
  </div>
</aside>
